html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        background-color: lightgrey;
        font-style: oblique;
        
  }
img{
    width: 20%;
    height: 20%;
    
}

#divCalc{
    text-align: center;
    background-color: white;
    width: 100;
    height: 100; 
    -webkit-box-sizing: border-box;
   

}

#txtNum1,#txtNum2,#tipoOperador{
    border-radius: 25px;
    font-size: 20px;
    text-align: center;
    
}

.error{
  border-color: red;
  border-radius: 25px;
}

.exito{
    border-color: green;
    border-radius: 25px;
}

#btnF5{
    position: fixed;
    bottom:0;
    right: 0;

}

input[type=number]:focus{
    /* outline: 2px solid orange; */
    border: 2px solid skyblue;
    border-radius: 4px;
 
  }

#tablaHistorica{
    position: fixed;
    bottom:50%;
    right:5%;
    text-align: center;
    background-color: grey;
    border: 2px solid;
    border-radius: 25px;
}
#btnCerrar{
    position:absolute; 
    right:-15px; 
    top:-40px; 
}