html {
    /* font-family: 'Trebuchet MS'; */
    /* font-family: 'Arial'; */
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        /* font-style: oblique; */
       
       
        
  }
  thead{
    background-color: black;
  }
  img{
    border-radius: 10%;
  }

  #btnModificar,#btnEliminar{
    visibility: hidden;
  }


  .spinner{
   /* background-color: #424242;
    display: none;
     width: 150px;
    height: 150px;
   */
   
    position: fixed; 
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;

    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.modal-header,.modal-body,.modal-footer {
    background-color: lightgrey;
  }

  .btnCerrar{
    float: right;
    right:-15px; 
    top:-40px; 
  }
  