html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        font-style: oblique;
        
  }

  #add-edit{
    
    position: fixed;
    bottom:35%;
    right:40%;
    /* text-align: center; */
    background-color: grey;
    border: 2px solid;
    border-radius: 10px;
  }
  /* @keyframes add-edit{
    from{opacity: 0}
    to{opacity: 1}
} */

  #btnCerrar{
    float: right;
    right:-15px; 
    top:-40px; 
    
    
  }

  #btnConfirmar{
  text-align: center;
  
  }
  #btnEdicion{
    background-color: darkblue;

  }
