html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        font-style: oblique;
        
  }

  #add-edit{
    transition-delay: 1s; /* delays for 1 second */
    -webkit-transition-delay: 1s; /* for Safari & Chrome */
    position: fixed;
    bottom:35%;
    right:40%;
    /* text-align: center; */
    background-color: grey;
    border: 2px solid;
    border-radius: 10px;
  }

  #btnCerrar{
    float: right;
    right:-15px; 
    top:-40px; 
    
    
  }

  #btnConfirmar{
  text-align: center;
  
  }
  #btnEdicion{
    background-color: darkblue;

  }
